<div class="app">
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="/" class="header__navbar-item-link">Trang chủ</a>
                    </li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item
                        header__navbar-item-has-notify">
                        <i class="fas fa-bell header__navbar-icon"></i>
                        <div onclick=viewNotify()
                            class="header__navbar-item-link">Thông báo</div>
                        <div class="header__notify">
                            <header class="header__notify-header">
                                <h3>Thông báo mới nhận</h3>
                            </header>
                            <ul class="header__notify-list"
                                id="header__notify-list">
                                
                            </ul>
                        </div>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/user/login" class="header__navbar-item-link">Đăng nhập</a>
                    </li>
                    <li class="header__navbar-item" >
                            <i class="fas fa-user-circle"></i>
                            <div onclick=showUserInfo() class="header__navbar-item-link">Tài khoản</div>
                            <div class="header__userinfo" id="header__userinfo">
                                <div class="header__userinfo-logo">
                                    <i class="fas fa-user-circle header__userinfo-logo-icon"></i>
                                </div>

                            </div>
                        </li>
                        
                </ul>
            </nav>
            <div class="header-with-search">
                <img src="/img/logo.png" alt="" class="header-logo">
                <div class="header__search">
                    <form class="header__search-form" action="/search">
                        <input name="keyword" type="text"
                            class="header__search-input"
                            placeholder="Nhap ten phim">
                        <button type="submit"
                            class="header__search-btn">
                            <i class="fas fa-search
                                header__search-btn-icon"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-9" style="margin-top:40px">
                        <div class="manage_film">
                            <h1 class="manage_film_header">Quản lý phim</h1>
                            <div class="manage_film_menu">
                                
                                    <a href="/user/uploadfilm"class="admin_button_link" >
                                        <div class="admin_button">
                                            Tải phim lên
                                        </div>
                                    </a>
                               
                                
                                    <a href="/user/managefilm"class="admin_button_link" >
                                        <div class="admin_button">
                                            Xem danh sách phim
                                        </div>
                                    </a>
                               
                                </div>
                            <div class="manage__film-search">
                                <input id="manage_film_keyword" type="text" class="manage__film-search__input">
                                <button onclick=managefilmload() class="manage__film-search-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <ul id="manage_film-list" class="manage__film-list">
                                
                            </ul>
                            <ul class="pagination">
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">
                                        <i class="pagination-item__icon fas fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="pagination-item pagination-item--active">
                                    <a href="" class="pagination-item__link">1</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="file:///home/truonggiang/projects/Films_front_end/src/home.html?page=2" class="pagination-item__link">2</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">3</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">4</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">
                                        <i class="pagination-item__icon fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <script>
                                function displayalert(id){
                                    var element =document.getElementById(id);
                                    if(element.style.display=="none") element.style.display="flex";
                                    else element.style.display="none"
                                }
                                function confirmdelete(id){
                                    displayalert(id)
                                }
                                function canceldelete(id){
                                    displayalert(id)
                                    
                                }
                                function managefilmload(){
                                    var filmlist=document.getElementById("manage_film-list");
                                    var keyword="";
                                    filmlist.innerHTML="";
                                    if(document.getElementById("manage_film_keyword")) keyword=document.getElementById("manage_film_keyword").value;
                                    fetch("http://localhost:3000/apis/allfilms?page={{page}}&keyword="+keyword.trim())
                                    .then(res=>{
                                        return res.json();
                                    }).then(films=>{
                                        films.forEach(film=>{
                                            filmlist.innerHTML+=
                                        `<li class="manage__film-list-item">
                                    <div class="manage__film-item">
                                        <a href="/films/${film.slug}" class="manage__film-item__link">
                                            <img src="${film.poster_link}" alt="" class="manage__film-item__img">
                                            <div class="manage__film-item-info">
                                                <h4 class=manage__film-item-title>${film.movie_name_eng}</h4>
                                                <div class="manage__film-item-title manage__film-item-title-vie">${film.movie_name_vie}</div>
                                            </div>
                                        </a>
                                        <button onclick="window.location.href = '/user/updatefilm/${film.slug}'" class="manage__film-item-btn">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button onclick=displayalert("${film.slug}") class="manage__film-item-btn">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>                
                                    </div>
                                    <div id="${film.slug}" class="managa__film-item-alert">
                                        <h4>Bạn có muốn xóa phim này không?</h4>
                                        <button onclick=confirmdelete("${film.slug}") class="manage__film-alert-btn manage__film-alert-btn-confirm">
                                            <i class="fas fa-check-circle"></i>
                                        </button> 
                                        <button onclick=canceldelete("${film.slug}") class="manage__film-alert-btn manage__film-alert-btn-cancel">
                                            <i class="fas fa-times-circle"></i>
                                        </button> 
                                    </div>
                                </li>`
                                        })
                                    })
                                }
                                managefilmload()
                            </script>
                        </div>
                    </div>
                <div class="grid__column-3">
                    <nav class="category">
                        <h2 class="category__heading">
                            <i class="fas fa-list-ul
                                category__heading-icon"></i>
                            Top phim xem nhiều
                        </h2>
                        <ul class="category-list" id="most-views-list">
                            
                        </ul>
                        
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-6 footer-contact">
                    <a href="" class="footer-link">
                        <i class="fab fa-facebook"></i> My facebook
                    </a>
                    <a href="" class="footer-link">
                        <i class="fas fa-envelope"></i>
                        abcxyz@sis.edu.vn
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
