<div class="app">
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="/" class="header__navbar-item-link">Trang chủ</a>
                    </li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item
                        header__navbar-item-has-notify">
                        <i class="fas fa-bell header__navbar-icon"></i>
                        <div onclick=viewNotify()
                            class="header__navbar-item-link">Thông báo</div>
                        <div class="header__notify">
                            <header class="header__notify-header">
                                <h3>Thông báo mới nhận</h3>
                            </header>
                            <ul class="header__notify-list"
                                id="header__notify-list">
                                
                            </ul>
                        </div>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/user/login" class="header__navbar-item-link">Đăng nhập</a>
                    </li>
                    <li class="header__navbar-item" >
                            <i class="fas fa-user-circle"></i>
                            <div onclick=showUserInfo() class="header__navbar-item-link">Tài khoản</div>
                            <div class="header__userinfo" id="header__userinfo">
                                <div class="header__userinfo-logo">
                                    <i class="fas fa-user-circle header__userinfo-logo-icon"></i>
                                </div>

                            </div>
                        </li>
                        
                </ul>
            </nav>
            <div class="header-with-search">
                <img src="/img/logo.png" alt="" class="header-logo">
                <div class="header__search">
                    <form class="header__search-form" action="/search">
                        <input name="keyword" type="text"
                            class="header__search-input"
                            placeholder="Nhap ten phim">
                        <button type="submit"
                            class="header__search-btn">
                            <i class="fas fa-search
                                header__search-btn-icon"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-9">
                    <div class="grid__row" style="margin-top: 40px;">
                        <div class="grid__column-6 loginform-block">
                            <h1>Đăng kí</h1>
                            <form action="/user/apis/create" method="POST" class="loginform">
                                <div class="loginform__input-block">
                                    <input type="text" name="username" placeholder="Tên đăng nhập" class="loginform__input">
                                </div>
                                <div class="loginform__input-block">
                                    <input type="password" placeholder="Mật khẩu" name="password" class="loginform__input">
                                </div>
                                {{#each errs}}
                                    <div class="loginform__input-alert">
                                        {{this}}
                                    </div>
                                {{/each}}
                                <div style="width: 100%;display:flex;">
                                    <input type="submit" value="Đăng kí" class="loginform__btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="grid__column-3">
                    <nav class="category">
                        <h2 class="category__heading">
                            <i class="fas fa-list-ul
                                category__heading-icon"></i>
                            Top phim xem nhiều
                        </h2>
                        <ul class="category-list" id="most-views-list">

                        </ul>
                
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-6 footer-contact">
                    <a href="" class="footer-link">
                        <i class="fab fa-facebook"></i> My facebook
                    </a>
                    <a href="" class="footer-link">
                        <i class="fas fa-envelope"></i>
                        abcxyz@sis.edu.vn
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
